<template name="joueurForm">
  <form class="joueurs">
    <h2>Joueur</h2>
      <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pseudo : </label><input type="text" name={{nomJoueurs}} placeholder="Votre pseudo" required/><br/>
      <label>Mot de passe : </label><input type="password" name={{password}} placeholder="Votre mot de passe" required/><br/><br/>
      <input class="submit" type="submit" value="S'enregistrer" />
  </form>
</template>


<template name="nbJoueurs">
  <p>Vous êtes {{nombreJoueurs}} joueurs connectés :</p>
  {{#each joueurs}}
    {{nomJoueurs}}
  {{/each}}
</template>

<template name="nomsJoueurs">
  <li>{{pseudo}}</li>
</template>

<template name="button">
  <button>Commencer à jouer</button>
</template>
